.badge {
    position: relative;
    top: -8px;
    left: 8px;
}

.circle-responsive-viwed {
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    background: #3e54af;
    left: 13px;
}

.circle-responsive-like {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 1;
    position: relative;
    background: #218d80;
    top: 15px;
    left: 45px;
}

.circle-responsive-comment {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 1;
    position: relative;
    background: #ae4747;
    top: 15px;
    left: 45px;
}


.circle-content {
    color: #fff;
    float: left;
    line-height: 1.2;
    font-size: 9px;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
}


.contentRow {
    display: flex;
    margin-left: 15px;
    padding: 10;
    font-size: 13px;
}

.contentRow strong {
    color: #3e54af;
}

@media only screen and (max-width: 600px) {
    .contentRow span.namePost {
        display: block;
        max-width: 210px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #787881;
    }
}

@media only screen and (min-width: 600px) {
    .contentRow span.namePost {
        display: block;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #787881;
    }
}

@media only screen and (min-width: 768px) {
    .contentRow span.namePost {
        display: block;
        max-width: 380px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #787881;
    }
} 


@media only screen and (min-width: 992px) {
    .contentRow span.namePost {
        display: block;
        max-width: 390px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #787881;
    }
} 

@media only screen and (min-width: 1200px) {
    .contentRow span.namePost {
        display: block;
        max-width: 390px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #787881;
    }
} 

.actionLike {
    color: #787881;
}

.actionComment {
    color: #787881;
}

.itemList {
    width: '500px';
}

.div1 {
    float:left;
}

.div2 {
    float:left;
}