.badge {
    position: relative;
    top: -8px;
    left: 8px;
}

.advanced {
    border-radius: 50%;
    position: relative;
    top: 15px;
    left: 40px;
    z-index: 10;
	width: 15px;
	height: 15px;
	
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
}

.advanced div{
    color: #fff;
    text-align: center;
    font-size: 8px;
    line-height:2;
}

.circle-responsive-like {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 1;
    position: relative;
    background: #ffcc5c;
    top: 15px;
    left: 45px;
}

.circle-responsive-comment {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 1;
    position: relative;
    background: #588c7e;
    top: 15px;
    left: 45px;
}


.circle-content {
    color: #fff;
    float: left;
    line-height: 1.2;
    font-size: 9px;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
}


.contentRow {
    padding: 10;
    font-size: 13px;
    flex: 1;
}