.badge {
    position: relative;
    top: -8px;
    left: 8px;
}

.advanced {
    border-radius: 50%;
    position: relative;
    top: 15px;
    left: 40px;
    z-index: 10;
	width: 15px;
	height: 15px;
	
    background: #4679BD; 
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
}

.advanced div{
    color: #fff;
    text-align: center;
    font-size: 8px;
    line-height:2;
}

.circle-responsive-like {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 1;
    position: relative;
    background: #ffcc5c;
    top: 15px;
    left: 45px;
}

.circle-responsive-comment {
    border-radius: 50%;
    width: 17px;
    height: 17px;
    z-index: 1;
    position: relative;
    background: #588c7e;
    top: 15px;
    left: 45px;
}


.circle-content {
    color: #fff;
    float: left;
    line-height: 1.2;
    font-size: 9px;
    margin-top: -0.5em;
    padding-top: 50%;
    text-align: center;
    width: 100%;
}


.contentRow {
    display: flex;
    margin-left: 15px;
    padding: 10;
    font-size: 13px;
}

@media only screen and (max-width: 600px) {
    .contentRow span.namePost {
        display: block;
        max-width: 210px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #928d97;
    }
}

@media only screen and (min-width: 600px) {
    .contentRow span.namePost {
        display: block;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #928d97;
    }
}

@media only screen and (min-width: 768px) {
    .contentRow span.namePost {
        display: block;
        max-width: 380px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #928d97;
    }
} 


@media only screen and (min-width: 992px) {
    .contentRow span.namePost {
        display: block;
        max-width: 390px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #928d97;
    }
} 

@media only screen and (min-width: 1200px) {
    .contentRow span.namePost {
        display: block;
        max-width: 390px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #928d97;
    }
} 

.actionLike {
    color: #928d97;
}

.actionComment {
    color: #928d97;
}

.itemList {
    width: '500px';
}

.div1 {
    float:left;
}

.div2 {
    float:left;
}